{% load static %}
<html>
    <head>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'rent.css' %}" rel="stylesheet">
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <title>Rental Page</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid no_padd">
                <div class="navbar-header">
                    <p class="navbar-text">VGM&R</p>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'django_rental:about' %}">About</a></li>
                    <li><a href="{% url 'django_rental:rent' %}">Rental</a></li>
                </ul>
            </div>
        </nav>
        {% for item in items %}
        <div class="container-fluid padd_butnotop">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 no_padd">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pict_div">
                    <img src="{{ item.image_url }}">
                    <div><b>{{ item.name }}</b></div>
                    <div>Price: ${{ item.price }}</div>
                    <div id="num1">Quantity: {{ item.num_in_stock }}</div>
                    <button onclick="price_total.addto(1)">+</button>
                    <button onclick="price_total.removefrom(1)">-</button>
                </div>
            </div>
        </div>
        {% endfor %}
     </body>
</html>
